<div class="admin_choice">

    <div class="admin_choice_option_all">

        <a href="#" class="admin_choice_option">Новости и интересное</a>
        <a href="{{ url_for("products_images") }}" class="admin_choice_option">Изображения товаров</a>
        <a href="#" class="admin_choice_option">Коллекции товаров</a>
        <a href="{{ url_for("AdminShopSettingsView:discounts") }}" class="admin_choice_option">Настройки магазина</a>
        <a href="{{ url_for("AdminWorkBannerView:banners") }}" class="admin_choice_option">Настройки баннера</a>
        <a href="{{ url_for("AdminDocumentsTextsView:documents_and_texts") }}" class="admin_choice_option">Документы и тексты</a>

    </div>

</div>